#<ruby code=[dom_id="" pizza_topping=""]
  | " class="w-full sm:w-auto my-5 space-y-5"&gt; 
  div
    strong.block.font-medium.mb-1
      | Pizza:
    = pizza_topping.pizza.name
  div
    strong.block.font-medium.mb-1
      | Topping:
    = pizza_topping.topping.name
